a {
	color: rgb(0, 116, 217);
}
.theme_color {
	color: rgb(0, 116, 217);
}
.btn-style-three:hover {
	color: rgb(0, 116, 217);
}
.sec-title .separator .icon {
	color: rgb(0, 116, 217);
}
.featured-block .inner-box .content .icon-box {
	color: rgb(0, 116, 217);
}
.services-block .inner-box:hover .icon-box {
	color: rgb(0, 116, 217);
}
.services-block .inner-box h3 a:hover {
	color: rgb(0, 116, 217);
}
.team-block .inner-box .lower-box h3 a:hover {
	color: rgb(0, 116, 217);
}
.fact-counter :nth-child(2).column .inner .icon-box {
	color: rgb(0, 116, 217);
}
.fact-counter :nth-child(4).column .inner .icon-box {
	color: rgb(0, 116, 217);
}
.news-block .inner-box .lower-content h3 a:hover {
	color: rgb(0, 116, 217);
}
.news-block .inner-box .lower-content .read-more {
	color: rgb(0, 116, 217);
}
.social-icon-two li a:hover {
	color: rgb(0, 116, 217);
}
.social-icon-three li a:hover {
	color: rgb(0, 116, 217);
}
.services-block-two .inner-box h3 a:hover {
	color: rgb(0, 116, 217);
}
.links-widget .links li a:hover::before {
	color: rgb(0, 116, 217);
}
.services-block-three .inner-box .icon-box {
	color: rgb(0, 116, 217);
}
.services-block-three .inner-box h3 a:hover {
	color: rgb(0, 116, 217);
}
.services-block-four .inner-box h3 a:hover {
	color: rgb(0, 116, 217);
}
.widget-post a {
	color: rgb(0, 116, 217);
}
.widget-post a:hover {
	color: rgb(0, 116, 217);
}
.cart-list li a:hover {
	color: rgb(0, 116, 217);
}
.page-title .page-breadcrumb li a:hover {
	color: rgb(0, 116, 217);
}
.product-block .inner-box .lower-content h3 a:hover {
	color: rgb(0, 116, 217);
}
.product-block .inner-box .lower-content .price {
	color: rgb(0, 116, 217);
}
.discount-section .content .discount-price {
	color: rgb(0, 116, 217);
}
.popular-products-section .filters .filter.active {
	color: rgb(0, 116, 217);
}
.popular-products-section .filters .filter:hover {
	color: rgb(0, 116, 217);
}
.testimonial-section.style-two .inner-box .quote-icon {
	color: rgb(0, 116, 217);
}
.services-block-five .inner-box .lower-content h3 a:hover {
	color: rgb(0, 116, 217);
}
.services-block-five .inner-box .lower-content .read-more {
	color: rgb(0, 116, 217);
}
.pets-box .inner-container h2 {
	color: rgb(0, 116, 217);
}
.cat-list li a:hover {
	color: rgb(0, 116, 217);
}
.sidebar .popular-posts .post a:hover {
	color: rgb(0, 116, 217);
}
.sidebar .popular-posts .post-info {
	color: rgb(0, 116, 217);
}
.sidebar-page-container .comments-area .comment .comment-reply {
	color: rgb(0, 116, 217);
}
.blog-single .inner-box .lower-content .post-share-options .tags a:hover {
	color: rgb(0, 116, 217);
}
.pet-block .inner-box .image .overlay-box .overlay-inner .content ul li.share a {
	color: rgb(0, 116, 217);
}
.main-header .sticky-header .main-menu .navigation > li:hover > a {
	color: rgb(0, 116, 217);
}
.main-header .sticky-header .main-menu .navigation > li.current > a {
	color: rgb(0, 116, 217);
}
.main-header .sticky-header .main-menu .navigation > li.current-menu-item > a {
	color: rgb(0, 116, 217);
}
.what-we-offer .single-what-we-offer i.icon {
	color: rgb(0, 116, 217);
}
.what-we-offer .single-what-we-offer i.fa {
	color: rgb(0, 116, 217);
}
.scroll-to-top {
	border-color: rgb(0, 116, 217);
}
.list-style-one li::before {
	border-color: rgb(0, 116, 217);
}
.list-style-one li::after {
	border-color: rgb(0, 116, 217);
}
.btn-style-three {
	border-color: rgb(0, 116, 217);
}
.btn-style-six:hover {
	border-color: rgb(0, 116, 217);
}
.btn-style-seven:hover {
	border-color: rgb(0, 116, 217);
}
.cat-list li a::before {
	border-color: rgb(0, 116, 217);
}
.cat-list li a::after {
	border-color: rgb(0, 116, 217);
}
.main-footer.style-two {
	border-color: rgb(0, 116, 217);
}
.main-header .search-box-outer .dropdown-menu {
	border-color: rgb(0, 116, 217);
}
.main-header .search-panel input:focus {
	border-color: rgb(0, 116, 217);
}
.main-header .search-panel select:focus {
	border-color: rgb(0, 116, 217);
}
.ui-state-active {
	border-color: rgb(0, 116, 217);
}
.ui-widget-content .ui-state-active {
	border-color: rgb(0, 116, 217);
}
.fact-counter :nth-child(2).column .inner .icon-box {
	border-color: rgb(0, 116, 217);
}
.fact-counter :nth-child(4).column .inner .icon-box {
	border-color: rgb(0, 116, 217);
}
.pet-block .inner-box .image .overlay-box .overlay-inner .content ul li a:hover {
	border-color: rgb(0, 116, 217);
}
.scroll-to-top {
	background-color: rgb(0, 116, 217);
}
.btn-style-three {
	background-color: rgb(0, 116, 217);
}
.btn-style-six:hover {
	background-color: rgb(0, 116, 217);
}
.mission-section {
	background-color: rgb(0, 116, 217);
}
.btn-style-seven:hover {
	background-color: rgb(0, 116, 217);
}
.product-form .theme-btn {
	background-color: rgb(0, 116, 217);
}
.featured-block-three .inner-box {
	background-color: rgb(0, 116, 217);
}
.emailed-form .theme-btn {
	background-color: rgb(0, 116, 217);
}
.main-slider .tparrows.gyges:hover {
	background-color: rgb(0, 116, 217);
}
.social-icon-four a:hover {
	background-color: rgb(0, 116, 217);
}
.appointment-section {
	background-color: rgb(0, 116, 217);
}
.header-top {
	background-color: rgb(0, 116, 217);
}
.news-block .inner-box .image .post-date {
	background-color: rgb(0, 116, 217);
}
.news-block-two .inner-box .image .post-date {
	background-color: rgb(0, 116, 217);
}
.sidebar .search-box .form-group button {
	background-color: rgb(0, 116, 217);
}
.ui-state-active {
	background-color: rgb(0, 116, 217);
}
.ui-widget-content .ui-state-active {
	background-color: rgb(0, 116, 217);
}
.main-menu .navigation > li > ul > li > ul > li > a:hover {
	background-color: rgb(0, 116, 217);
}
.main-menu .navigation > li > ul > li:hover > a {
	background-color: rgb(0, 116, 217);
}
.testimonial-section.style-two .owl-dots .owl-dot.active::before {
	background-color: rgb(0, 116, 217);
}
.blog-single .inner-box .lower-content .title-box .date-box {
	background-color: rgb(0, 116, 217);
}
.pet-block .inner-box .image .overlay-box .overlay-inner .content ul li a:hover {
	background-color: rgb(0, 116, 217);
}
.dark-bg {
	background-color: rgb(0, 116, 217);
}
.page-signin .body-inner::before {
	background-color: rgb(0, 116, 217);
}
.hvr-bounce-to-bottom::before {
	background-color: rgb(0, 116, 217);
}
.text-box h3 span {
	background-color: rgb(0, 116, 217);
}
.masonry-filter a.active {
	background-color: rgb(0, 116, 217);
}
.masonry-filter a:active {
	background-color: rgb(0, 116, 217);
}
.masonry-filter a:hover {
	background-color: rgb(0, 116, 217);
}
.masonry-filter a:focus {
	background-color: rgb(0, 116, 217);
}
.single-testimonial-style-two .img-box {
	border-bottom-color: rgb(0, 116, 217); border-bottom-width: 2px; border-bottom-style: solid;
}
.text-box .img-box .inner {
	border-bottom-color: rgb(0, 116, 217); border-bottom-width: 2px; border-bottom-style: solid;
}
.gallery-thumb .overlayer {
	background-color: rgba(0, 116, 217, 0.75);
}
@media only screen and (max-width:767px)
{
.main-menu .navbar-header .navbar-toggle {
	border-color: rgb(0, 116, 217);
}
.main-menu .navbar-header .navbar-toggle {
	background-color: rgb(0, 116, 217);
}
.main-menu .navbar-collapse > .navigation {
	background-color: rgb(0, 116, 217);
}
.main-menu .navbar-collapse > .navigation > li > ul {
	background-color: rgb(0, 116, 217);
}
.main-menu .navbar-collapse > .navigation > li > ul > li > ul {
	background-color: rgb(0, 116, 217);
}
.main-menu .navbar-collapse > .navigation > li > a {
	background-color: rgb(0, 116, 217);
}
.main-menu .navbar-collapse > .navigation > li > ul > li > a {
	background-color: rgb(0, 116, 217);
}
.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a {
	background-color: rgb(0, 116, 217);
}
.main-menu .navbar-collapse > .navigation > li > a:hover {
	background-color: rgb(0, 116, 217);
}
.main-menu .navbar-collapse > .navigation > li > a:active {
	background-color: rgb(0, 116, 217);
}
.main-menu .navbar-collapse > .navigation > li > a:focus {
	background-color: rgb(0, 116, 217);
}
.main-menu .navbar-collapse > .navigation > li:hover > a {
	background-color: rgb(0, 116, 217);
}
.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a {
	background-color: rgb(0, 116, 217);
}
.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a {
	background-color: rgb(0, 116, 217);
}
.main-menu .navbar-collapse > .navigation > li.current > a {
	background-color: rgb(0, 116, 217);
}
.main-menu .navbar-collapse > .navigation > li.current-menu-item > a {
	background-color: rgb(0, 116, 217);
}
.header-style-two.inner-header .main-menu .navigation > li > a {
	background-color: rgb(0, 116, 217);
}
}
